html, body {
  height: 100%;
  font-size: 0;
  margin: 0;
}

div.viewport {
  height: 100%;
  position: relative;
  width: 100%;
}

div.viewport > canvas,
div.viewport > div.canvas-overlay,
div.viewport > div.escaped {
  height: 100%;
  position: absolute;
  width: 100%;
}

div.viewport > div.canvas-overlay {
  font-size: 2vmin;
  opacity: .5;
}

div.viewport > div.escaped {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  font-size: 10vmin;
  justify-content: center;
  opacity: .8;
}

div.viewport > div.escaped.hidden {
  display: none;
}

div.viewport > div.escaped > div.box {
  background-color: grey;
  border: 2vmin solid black;
  box-sizing: border-box;
  height: 100vmin;
  padding: 5vmin;
  width: 100vmin;
}
