body {
  margin: 0;
  overflow: hidden;
}

html:-moz-full-screen {
  background: black;
  color: white;
}

html:-ms-full-screen {
  background: black;
  color: white;
  width: 100%;
}

html:-webkit-full-screen {
  background: black;
  color: white;
}

html:fullscreen {
  background: black;
  color: white;
}

.hoverhide {
  opacity: 0;
  transition: opacity 1.5s;
}

.hoverhide:hover {
  opacity: 1;
}
