@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(18, 23, 28);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: white;
}

td, th {
  vertical-align: top;
}

div.placard {
  font-size: 12px;
  height: 59px;
  margin: 2px;
  position: relative;
  width: 285px;
}

div.placard > div {
  background-color: rgb(30, 36, 43);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

div.placard > div.content {
  background-size: 100% 100%;
  height: 59px;
  overflow: hidden;
}

div.placard > div.content > img {
  float: left;
  height: 59px;
  margin-right: 4px;
}

div.placard > div.content > div.text {
  font-size: 13px;
  font-weight: 200;
}

div.placard > div.content > div.title {
  font-size: 18px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
}

div.placard > div.content > div.right {
  font-size: 18px;
  padding: 4px;
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
  top: 0;
}

div.grid-node > img {
  background-color: rgb(51, 56, 63);
  border: 5px solid rgb(70, 75, 81);
  border-radius: 1em;
  height: 1em;
}

div.grid-node.active > img {
  background-color: rgb(72, 135, 186);
  border-color: rgb(72, 135, 186);
}

div.grid-node.unlocked > img {
  border-color: rgb(94, 161, 106);
}

div.grid-node.hidden > img {
  background-color: red;
}
