* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 0;
  margin: 0;
}

body, button, input {
  font-family: sans-serif;
}

div.heading {
  padding: 10px;
}

div.heading > * {
  background-color: white;
  border: 2px solid #ccc;
  color: #bbb;
  font-size: 20px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
}

div.heading > * {
  text-align: center;
  text-decoration: none;
  width: 6em;
}

div.heading > button {
  cursor: pointer;
}

div.heading > input {
  border-color: white;
  font-style: italic;
  width: 15em;
}

div.heading > input:hover,
div.heading > input:focus {
  border-color: #ccc;
  color: black;
  font-style: inherit;
}

div.spreadsheet {
  border: 1px solid #ccc;
  display: inline-block;
  white-space: nowrap;
}

div.spreadsheet > div > input {
  border: 1px solid #ccc;
  outline: none;
  width: 10em;
}

div.spreadsheet > div:first-child > input {
  background-color: #eee;
  text-align: center;
}

div.spreadsheet > div:first-child > input.active,
div.spreadsheet > div > input:first-child.active {
  background-color: #ddd;
  border-color: #ccc;
}

div.spreadsheet > div > input:first-child {
  background-color: #eee;
  text-align: center;
  width: 3em;
}

div.spreadsheet > div > input.active {
  border-color: #08f;
}

div.spreadsheet.editing > div > input.active {
  background-color: #def;
}
