body {
  margin: 0;
}

div.canvas {
  position: relative;
}

div.canvas > canvas {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

div.canvas > canvas.while-editing {
  display: none;
}

div.canvas.editing > canvas.while-editing {
  display: unset;
}
