body {
  margin: 0;
}

div.grid {
  position: relative;
}

div.grid > canvas {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

div.grid > canvas.while-editing {
  display: none;
}

div.grid.editing > canvas.while-editing {
  display: unset;
}
