* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.grid {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
}

div.grid > div > button {
  background-color: #fff;
  border: 0;
  height: 20px;
  outline: none;
  width: 20px;
}

div.grid > div > button.active {
  background-color: #def !important;
}

div.grid > div:nth-child(even) > button:nth-child(even),
div.grid > div:nth-child(odd) > button:nth-child(odd) {
  background-color: #eee;
}
